@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.search-img {
    max-width: 545px !important;
    min-height: 477px !important;
}

.circle-img {
   padding-left: 26px;
}
.sec_3_heading {
    font-family: Roboto Slab;
    font-size: 45px;
    font-weight: 900;
    line-height: 130%;
    text-align: left;
    color: #2A3739;
    max-width: 389px !important;
    padding-bottom: 20px;
   
}

.sec_3_para {
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 300;
    line-height: 175%;
    text-align: left;
    max-width: 370px !important;
    color: #4D4D4D;
}
.mb-80{
margin-bottom: 80px;}
.sec_3_py-72 {
    padding-top: 72px;
    padding-bottom: 72px;
}
@media(max-width:576px){
.search-img {
      width: 100% !important;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.sec_4_heading {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 131%;
    text-align: left;
    color: #2A3739;
    padding-bottom: 20px;
    max-width: 448px;

}

.sec_4_pera {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 175%;
    text-align: left;
    color: #4d4d4d;
    padding-bottom: 12px;
    max-width: 404px;

}

.pt-90 {
    padding-top: 90px;
}

.sec_4_img {
    max-width: 489.02px !important;

}

.sec_4_pt_72 {
    padding-top: 72px;
}

.sec_4_cross_img {
    position: absolute;
    right: 8%;
    top: 50%;
}

@media(max-width:576px) {

    .m_sm_44 {
        margin: 44px;
    }
}